.menu {
    grid-area: me;
    display: grid;
    text-transform: uppercase;
    font-family: 'Lato Regular', serif;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(40px, auto);
    text-align: center;
    align-items: center;
}

.menu a{
    text-decoration: blink;
}

.menu a:hover{
    text-decoration: underline;
    transition: all 0.3s;
    color: royalblue;
}

.menu img {
    margin-left: 40px;
    width: 120px ;
    height: 70px;
}

