.infoHeadline {
    display: grid;
    width: 1349px;
    height: 100px;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 212, 255, 1) 0%, rgba(99, 99, 249, 1) 100%);
    margin-bottom: 80px;
}

.infoPos {
    align-self: center;
    justify-self: center;
}

.info img {
    width: 100%;
}