.advantages {
    grid-area: ad;
    display: grid;
    position: relative;
}

.advContent {
    position: absolute;
    align-self: center;
    margin-left: 150px;
    margin-bottom: 40px;
}

.advLogo {
    display: grid;
    grid-template-columns: repeat( 1, 500px);
    grid-auto-rows: minmax(20px, 60px);
    margin-bottom: 40px;
}

.advArticle {
     display: grid;
     grid-template-columns: repeat(1, 50px 500px);
     grid-auto-rows: minmax(20px, 49px);
     grid-gap: 30px;
 }

.advantages p,h1,h4{
    margin: 0;
}

.advImg img {
    width: 1349px;
    height: 500px;
}