.home {
    display: grid;
    grid-area: ho;
    font-family: 'Roboto', serif;
    grid-template-columns: 1349px;
    grid-template-areas:  "ba" "sl" "se" "ad" "ne" ;
    grid-template-rows:  500px 200px 300px 500px 1200px;
}