.wrapper {
    display: grid;
    font-family: 'Roboto', serif;
    grid-template-columns: 1349px;
    grid-template-areas: "he" "me" "ho" "re" "ti" "fo";
    grid-template-rows: 40px 70px 2700px 100px 30px;
}
